@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.navbar {
  justify-content: space-between;
  margin: 10px;
  padding: 0 20px;
  border: 1px solid #789;
}

.menu-list {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-left: 5px;
  width: 50%;
}

.menu-item.one,
.menu-item.two,
.menu-item.three {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.menu-item.one,
.menu-item.two {
  border-right: 1px solid #789;
}

.menu-item:hover {
  color: #444;
  background: rgb(173, 216, 230, 0.4);
  cursor: pointer;
}

.current-time {
  justify-content: flex-end;
  padding: 0 20px;
}

.table-entry div,
.table-entry,
.d-flex {
  display: flex;
}

.List-section,
.Add-section,
.main-content {
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  height: auto;
}

.List-section {
  width: 50%;
}

.book-table {
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.table-entry,
.table-row {
  width: 100%;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background: #add8e6;
}

.table-entry {
  margin: 2%;
  width: 96%;
}

.table-entry div {
  justify-content: space-between;
  width: 40%;
}

.table-entry div span {
  margin-right: 10px;
}

.removeButton {
  height: 30px;
  align-self: center;
  margin-left: 10px;
}

.List-section-hr {
  border: 1px solid #789;
  width: 40%;
  margin: 20px 0;
}

.Add-section {
  display: none;
  width: 40%;
}

fieldset {
  border: none;
  width: 60%;
}

.form {
  flex-direction: column;
}

.form-item {
  margin: 5px 0;
  height: 30px;
}

.addButton {
  width: 50px;
  align-self: flex-end;
}

.Contact-section {
  display: none;
  flex-direction: column;
}

.Contact-section h2 {
  align-self: center;
}

.Contact-section ul a {
  text-decoration: none;
  color: inherit;
}

.copyright-div {
  margin: 0 10px 5px 10px;
  padding: 0 20px;
  border: 1px solid #789;
}

.slash-div {
  height: 50%;
  border: 1px solid;
  background: #789;
  text-align: right;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  /* Desktop [768px -> 1220px] */
  .menu-list {
    width: 35%;
  }

  .table-entry {
    margin: 1%;
    width: 98%;
  }

  .main-content {
    height: 80vh;
  }
}